@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollColor: cornflowerblue;
}
body {
  background-color: #1d2125;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollColor) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollColor);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
